@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
}

.menu {
    background-color: #5F5F5F;
    overflow: hidden;
    margin-bottom: 10px;
}
.menu a{
    float: left;
    color: black;
    font-weight: 1000;
    text-align: center;
    padding: 10px;
    font-size: 17px;
    text-decoration: none;
}
.menu a:hover{
    background-color: #dddddd;
    color: black;
}
.menu a.ativo{
    background-color: #E8674A;
    color: white;
}
button:hover,
button:focus {
    background-color: #40547e;
}
fieldset{
  border-radius:15px;
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
}
body{
  background-color:#DCDCDC;
}
.form{
background-color: #edf1f3;
color: whitesmoke;
font-weight: 1000;
color: black;
background-image: url(https://c.wallhere.com/photos/53/7d/dog_puppies_animals-111487.jpg!d)
}

.form-group{
   display: block;
   flex-direction: row;
   padding: 9px;
   
    }
.img{
  height: 50%;
  padding: 45px;
}

    .form-group label{
        flex: none;
        display: block;
        width: 120px;
        font-weight: bold;
        font-size: 14px;
         }

         .form-group label.right-inline{
            text-align: right;
            padding-right: 8px;
            padding-left: 10px;
            width: auto;
        }

        .form-group .input-control {
            display: block;
            height: 10px;
            margin-bottom: 10px;
            margin-right: 8px;
            padding: 13px;
            flex: 1 1 auto;
            border-radius: 5px;

        }
        button{
            color:black;
            background-color: #98cae6;
            font-size: 15px;
            padding: 5px;
            margin: 5px;
            cursor: pointer;
            min-width: 100px;
        }

        /*estilo da tebela*/

        table.blueTable {
            border: 3px solid #1C6EA4;
            background-color: #EEEEEE;
            width: 100%;
            text-align: left;
            border-collapse: collapse;
          }
          table.blueTable td, table.blueTable th {
            border: 1px solid #AAAAAA;
            padding: 4px 2px;
          }
          table.blueTable tbody td {
            font-size: 13px;
          }
          table.blueTable tr:nth-child(even) {
            background: #D0E4F5;
          }
          table.blueTable thead {
            background: #1C6EA4;
            background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
            background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
            background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
            border-bottom: 2px solid #444444;
          }
          table.blueTable thead th {
            font-size: 35px;
            font-weight: bold;
            color: #FFFFFF;
            border-left: 2px solid #D0E4F5;
          }
          table.blueTable thead th:first-child {
            border-left: none;
          }
          
          table.blueTable tfoot {
            font-size: 14px;
            font-weight: bold;
            color: #FFFFFF;
            background: #D0E4F5;
            background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
            background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
            background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
            border-top: 2px solid #444444;
          }
          table.blueTable tfoot td {
            font-size: 14px;
          }
          table.blueTable tfoot .links {
            text-align: right;
          }
          table.blueTable tfoot .links a{
            display: inline-block;
            background: #1C6EA4;
            color: #FFFFFF;
            padding: 2px 8px;
            border-radius: 10px;
          }
          .menu{
            background-image: url(https://image.shutterstock.com/image-vector/puppies-dog-seamless-pattern-vector-600w-676055839.jpg) 
            }
             